/*Тело*/
body{
  display: block;
  background: linear-gradient(to top left, powderblue, pink);
  line-height: 1;
}

/*Заголовок*/
header {
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
	font-size: 32px;
	font-family: 'Arimo', sans-serif;
  font-weight: bold;
  border-bottom: 5px solid rgba(34,34,34,.2);
}

/*Меню сайта*/
.top-menu {
  position: relative;
  background: rgba(34,34,34,.2);
}
.menu-main {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-48%);
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 22px;
  letter-spacing: 3px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: black;
  transition: .3s linear;
}
.menu-main a:hover {background: rgba(189, 8, 55, 0.705);}
@media (max-width: 830px) {
  .menu-main {
    padding-top: 90px;
    text-align: center;
  }
  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  .menu-main li {
    float: none;
    display: inline-block;
  }
  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 16px;
  }
  }
  @media (max-width: 630px) {
  .menu-main li {display: block;}
  }
  
/*Верстка*/
.sod{
  float: left;
  margin: 5px;
  margin-right: 30px;
  font-size: 18px;
}
.about{
  position: absolute;
  right: 45%;
  margin: 10px;
  padding: 10px;
}
.zag{
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 26px;
  text-align: center;
}
.info{
  font-size: 24px;
  text-align: justify;
  text-indent: 1.5em;
}
.photo{
  float: right;
  margin: 0px;
  padding: 10px;
}
/*Подвал*/
footer {
  display: table;
  left: 0; 
  bottom: 0;
  color: #000;
  border-top: 5px solid rgba(34,34,34,.2);
  width: 100%;
 }
 /*Состав*/
 .holder{
  position: relative;
  width:300px;
  height:400px;
  margin: 10px auto;
  border: 10px solid transparent;
  border-image: linear-gradient(to top, transparent 0%, black 100%);
  border-image-slice: 1;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}
.block{
  position:absolute;
  height: 10%;
  width: 100%;
  left:0;
  bottom:0;
  right:0;
  top:0;
  background:rgba(255,255,255, 0.7);
  padding:5px;
  display:none;
}
.holder:hover .block{
  display:block;
}